# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Entornos
.env
.env.local
.env.*.local

# VS Code
.vscode/

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db

# Producción
/dist
/build

# Otros
*.sqlite
*.sqlite
